<br></br>
<h3>Welcome, <%=@user.name%>!</h3>

<p>Here are your current books:</p>
<%@user.books.each_with_index do |book, index|%>
  <%=index + 1%>. <a href="/books/<%=book.id%>"><%=book.title%></a><br>
  <p>by: <a href="/authors/<%=book.author_id%>"><%=book.author.name%></a></p><br>
<%end%>

<div class="colorsub">
  <form method="GET" action="/authors">
    <input type="submit" value="Authors">
  </form><br>

  <form method="GET" action="/books/new">
    <input type="submit" value="Add book">
  </form>
</div>

<br></br>
<form method="GET" action="/logout">
  <input type="submit" value="Log-out">
</form>
