<br></br>
<h3>Welcome, <%=@user.name%>!</h3>

<p>Here are your current books:</p>
<%@user.books.each do |book|%>
  <a href="/books/<%=book.id%>"><%=book.title%></a><br>
  <a href="/authors/<%=book.author_id%>"><%=book.author.name%></a><br>
<%end%>
<br></br>
<p><a href="/books/new">Add a book</a></p>
