<div class="colorsub">
  <form method="GET" action="/books">
    <input type="submit" value="Home">
  </form><br></br>
</div>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<br>

<b><%=@book.title%></b>
<br>
<em>by: </em>
<%author = @book.author_id%>
<%=Author.find_by_id(author).name%>

<br></br>
<h4>Summary: </h4>
<%=@book.summary%>
<br></br>

<form method="GET" action="/books/<%=@book.id%>/edit">
  <input type="submit" value="Edit Book">
</form>

<div class="red">
  <form method="post" action="/books/<%=@book.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Book">
  </form>
</div>
